---
layout: default
title: "Fundamentals of DevOps and Software Delivery"
last_modified_at: 2026-03-12
sections:
  - intro.html
  - different.html
  - praise.html
  - buy.html
  - author.html
  - outline.html
  - blog.html
  - news.html
structured_data_json:
  - website.json
  - author.json
  - book-outline.json
---

{% for section in page.sections %}
  <section class="py4 px2 clearfix border-bottom border-gray {% cycle 'bg-gray-color', '' %}">
    <div class="max-width-{% if section == 'intro.html' %}4{% else %}3{% endif %} mx-auto">
      {% include {{ section }} %}
    </div>
  </section>
{% endfor %}

{% include foot.html %}