<section class="mt4 mb4 p4 pb7 clearfix bg-gray-color border-bottom border-top border-gray">
  <div class="max-width-3 mx-auto">
    <h2 class="mb4">About the author</h2>
    <div class="clearfix mxn2">
      <div class="sm-col sm-col-4 mb2 px2">
        {% include image.html path="yevgeniy-brikman.jpg" alt="Yevgeniy Brikman" %}
      </div>
      <div class="sm-col sm-col-8 justify thin px2">
        <p class="mt0">
          <a href="https://www.ybrikman.com/?ref=fundamentals-of-devops" class="bold tracked" data-trk="ybrikman-link-about-author-section">Yevgeniy (Jim) Brikman</a> is
          the co-founder of
          <a href="https://www.gruntwork.io/?ref=fundamentals-of-devops" target="_blank" class="tracked" data-trk="gruntwork-link-about-author-section">Gruntwork</a>, a company that
          that offers products & services for setting up world-class DevOps Foundations. He's also the author of two
          other books published by O'Reilly:
          <em><a href="https://www.terraformupandrunning.com/?ref=fundamentals-of-devops" target="_blank" class="tracked" data-trk="fundamentals-of-devops-link-about-author-section">Terraform: Up & Running</a></em>,
          the definitive book on Terraform and OpenTofu, and
          <em><a href="https://www.hello-startup.net/?ref=fundamentals-of-devops" target="_blank" class="tracked" data-trk="hello-startup-link-about-author-section">Hello, Startup</a></em>,
          which is a hands-on guide to building products, technologies, and teams in a startup.
        </p>
        <p>
          Previously, Jim spent more than a decade building
          infrastructure and products that serve hundreds of millions of users at LinkedIn, TripAdvisor, Cisco Systems,
          and Thomson Financial. For more info, check out
          <a href="https://www.ybrikman.com/?ref=fundamentals-of-devops" target="_blank" class="tracked" data-trk="click-ybrikman-link-about-author-section">ybrikman.com</a>.
        </p>
      </div>
    </div>
  </div>
</section>
