{% capture buy_text %}Buy {{ site.name }} on {{ include.store.name }}{% endcapture %}
<div class="{% if include.class %}{{ include.class }}{% else %}md-col md-col-6 py1 center{% endif %}">
  <a href="{{ include.store.url }}" class="block border border-gray mr2 rounded height-70 tracked" data-trk="buy-{{ include.store.id }}-button-get-the-book" data-value="{{ include.store.value }}" target="_blank" title="{{ buy_text }}">
    {% include image.html path=include.store.image alt=buy_text class="align-middle" loading="lazy" %}
  </a>
  {% if store.id == "oreilly" %}
    <p class="mt1 thin h6 italic">
      Not an O'Reilly subscriber? Get a
      <a href="https://oreillymedia.pxf.io/c/5553902/2074898/15173" class="tracked" data-trk="oreilly-30-day-trial" data-value="30" target="_blank" title="30-day trial of O'Reilly">
        30-day trial free with this link!
      </a>
    </p>
  {% endif %}
</div>