<section id="buy-now" class="mt4 mb4 p2 pb7 clearfix bg-gray-color border-bottom border-top border-gray">
  <div class="max-width-3 mx-auto">
    <h2 class="mb2">Buy now</h2>
    {% assign oreilly = site.data.stores | first %}
    <div class="lg-col lg-col-6 lg-col-right px2">
      <a href="{{ oreilly.url }}" data-trk="buy-{{ oreilly.id }}-button-get-the-book" data-value="{{ oreilly.value }}" target="_blank" title="Buy {{ site.name }} on {{ oreilly.name }}">
        {% include image.html path="fundamentals-of-devops-and-software-delivery-2d-cover-early-release-small.png" alt="Fundamentals of DevOps and Software Delivery Early Release" %}
      </a>
    </div>
    <div class="lg-col lg-col-6 lg-col-right py2">
      <p class="mt2 thin">
        The <strong>Early Release</strong> of <em>{{ site.name }}</em> is now available at O'Reilly! Grab a copy of
        the ebook before the final version is done, so you can start learning today, receive new chapters as they are
        written, and provide feedback directly to the author to help shape the book:
      </p>
      {% include buy-button.html store=oreilly class="center" %}
      <p class="mt1 thin h6 italic">
        Not an O'Reilly subscriber? Get a
        <a href="https://oreillymedia.pxf.io/c/5553902/2074898/15173" class="tracked" data-trk="oreilly-30-day-trial" data-value="30" target="_blank" title="30-day trial of O'Reilly">
          30-day trial free with this link!
        </a>
      </p>
      <p class="mt3 thin">
        If you prefer to wait for the print version, you can <strong>pre-order</strong> the book now at the following
        stores:
      </p>
      {% for store in site.data.stores offset:1 %}
        {% include buy-button.html store=store %}
      {% endfor %}
    </div>
  </div>
</section>
