<section class="mt4 mb4 p2 pb6 clearfix max-width-3 mx-auto" id="buy-now">
  <h2 class="mb2">Buy now</h2>
  <div class="lg-col lg-col-6 py2">
    <p class="mt2 thin">
      The <strong>Early Release</strong> of <em>{{ site.name }}</em> is now available at O'Reilly Media! Be one of the
      first to get a copy and to provide feedback directly to the author to help to shape the book:
    </p>
    {% assign oreilly = site.data.stores | first %}
    {% include buy-button.html store=oreilly class="center" %}
    <p class="mt3 thin">
      If you prefer to wait for the final release, you can <strong>pre-order</strong> the book now on Amazon:
    </p>
    {% assign amazon = site.data.stores | last %}
    {% include buy-button.html store=amazon class="center" %}
  </div>
  <div class="lg-col lg-col-6 px2">
    {% include image.html path="book-2d-cover-early-release-small.png" alt="Fundamentals of DevOps and Software Delivery Early Release" %}
  </div>
</section>
