<section class="py4 px2 clearfix border-bottom border-gray bg-gray-color">
  <div class="max-width-4 mx-auto">
    <div class="lg-col lg-col-5 lg-col-right p3 py4">
      <a href="{{ site.url }}" class="book-container">
        <div class="book">
          <picture>
            <source media="(min-width: 64em)" srcset="{% include image-url.html path="fundamentals-of-devops-cover-2d-color-website-home.png" %}">
            {% include image.html path="fundamentals-of-devops-cover-2d-color-website-home-small.png" alt="Fundamentals of DevOps and Software Delivery" %}
          </picture>
        </div>
      </a>
    </div>
    <div class="lg-col lg-col-7 lg-col-right p3">
      <h3 class="mt0 mb0 light-gray thin">
        {% include chapter-pagination.html chapter_index=include.chapter_index %}
      </h3>
      <h1 class="mt0 mb0">
        {% assign chapter_index_1 = include.chapter_index | plus: 1 %}
        Chapter {{ chapter_index_1 }}: {{ include.chapter.title }}
      </h1>
      {% if chapter.key_ideas %}
      <dt class="regular mt2">Key ideas you'll explore in this chapter</dt>
      <dd class="ml1">
        <ul class="mt0 pl2">
          {% for item in chapter.key_ideas %}
            <li class="thin">{{ item }}</li>
          {% endfor %}
        </ul>
      </dd>
      {% endif %}

      {% if chapter.examples %}
      <dt class="regular mt2">Examples you'll try in this chapter</dt>
      <dd class="ml1">
        <ul class="mt0 pl2">
          {% for item in chapter.examples %}
            <li class="thin">{{ item }}</li>
          {% endfor %}
        </ul>
      </dd>
      {% endif %}

      {% if include.chapter.books or include.chapter.other_resources %}
        <p>
          Learning resources:
        </p>
        <ul class="thin">
          {% if include.chapter.books %}
            <li><a href="#books">Books</a></li>
          {% endif %}
          {% if include.chapter.other_resources %}
            <li><a href="#other-resources">Other resources</a></li>
          {% endif %}
        </ul>
      {% endif %}
      {% if include.chapter.tools %}
        <p>
          Tools:
        </p>
        <ul class="thin">
          {% for tool_type in include.chapter.tools %}
            <li><a href="#{% include camel-case.html text=tool_type.type %}">{{ tool_type.type }} Tools</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</section>