<h2 id="books">Related Books</h2>
{% for resource in include.chapter.books %}
  <div class="clearfix my2">
    <div class="col col-3 pr2">
      <a href="{{ resource.url }}" target="_blank">
        {% capture image_path %}books/{% include dasherize.html text=resource.title %}.jpg{% endcapture %}
        <img src="{% include image-url.html path=image_path %}" alt="{{ resource.title }}">
      </a>
    </div>
    <div class="col col-9">
      <h3 class="my0">
        <a href="{{ resource.url }}" target="_blank">
          {{ resource.title }}{% if resource.subtitle %}: {{ resource.subtitle }}{% endif %}
        </a>
      </h3>
      <p class="thin my0">By {{ resource.author }} ({{ resource.publisher }})</p>
    </div>
  </div>
{% endfor %}
