<section class="py4 px2 clearfix border-bottom border-gray bg-gray-color">
  <div class="max-width-4 mx-auto">
    <div class="lg-col lg-col-5 lg-col-right p3 py4">
      <a href="{{ site.url }}" class="book-container">
        <div class="book">
          <picture>
            <source media="(min-width: 64em)" srcset="{% include image-url.html path="fundamentals-of-devops-cover-2d-color-website-home.png" %}">
            {% include image.html path="fundamentals-of-devops-cover-2d-color-website-home-small.png" alt="Fundamentals of DevOps and Software Delivery" %}
          </picture>
        </div>
      </a>
    </div>
    <div class="lg-col lg-col-7 lg-col-right p3">
      <div class="mt0 mb0 light-gray thin">
        {% include chapter-pagination.html chapter_index=include.chapter_index %}
      </div>
      <h1 class="mt0 mb0">
        {% assign chapter_index_1 = include.chapter_index | plus: 1 %}
        Chapter {{ chapter_index_1 }}: {{ include.chapter.title }}
      </h1>
      <h4 class="mt2">Chapter overview</h4>
      <p class="thin">{{ page.description }}</p>
      <ul class="thin mt0">
        <li><a href="#chapter-overview">Key ideas you'll explore</a></li>
        <li><a href="#chapter-overview">Examples you'll try</a></li>
        <li><a href="#chapter-overview">Table of contents</a></li>
      </ul>
      {% if include.chapter.books or include.chapter.other_resources %}
        <h4 class="mt2">Learning resources</h4>
        <ul class="thin mt0">
          {% if include.chapter.books %}
            <li><a href="#books">Books</a></li>
          {% endif %}
          {% if include.chapter.other_resources %}
            <li><a href="#other-resources">Other resources</a></li>
          {% endif %}
        </ul>
      {% endif %}
      {% if include.chapter.tools %}
        <h4 class="mt2">Tools</h4>
        <ul class="thin mt0">
          {% for tool_type in include.chapter.tools %}
            <li><a href="#{% include camel-case.html text=tool_type.type %}">{{ tool_type.type }} Tools</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      <p class="mt3">
        {% include buy-now.html id="chapter-buy" label="Buy the book" absolute_url=true %}
      </p>
    </div>
  </div>
</section>