<h2 id="hands-on" class="mt0 mb2 px2">A hands-on guide</h2>
<div class="sm-col sm-col-7 lg-col-right px2">
  {% include toc.html %}
</div>
<div class="sm-col sm-col-5 lg-col-right justify px2">
  <p class="mt0 thin">
    A book on weight lifting can teach you principles, routines, and exercises, but it's only after you spend
    hours in the gym practicing, sweating, and applying what you read that you'll be able to lift serious weight.
    Likewise, this book will teach you principles, techniques, and tools of DevOps and software delivery, but
    it's only after you spend hours writing code, running code, and applying what you read that you'll be able to
    achieve serious results.
  </p>
  <p class="mt2 thin">
    That's what the <strong>dozens of hands-on code examples</strong> in this book are for. Instead
    of only reading, you get to <em>learn by doing</em>, following the step-by-step instructions to write and run
    a lot of code. You can find the sample code for the book
    <a href="https://github.com/brikis98/devops-book">in this GitHub repo</a>.
  </p>
</div>
