<div class="lg-col lg-col-6 lg-col-right p3 py4">
  <a href="{{ site.url }}" class="book-container">
    <div class="book">
      <picture>
        <source media="(min-width: 64em)" srcset="{% include image-url.html path="fundamentals-of-devops-cover-2d-color-website-home.png" %}">
        {% include image.html path="fundamentals-of-devops-cover-2d-color-website-home-small.png" alt="Fundamentals of DevOps and Software Delivery" %}
      </picture>
    </div>
  </a>
</div>
<div class="lg-col lg-col-6 lg-col-right p3">
  <h1 class="mt0 mb0">Fundamentals of DevOps and Software Delivery</h1>
  <p class="mt0 medium-gray">By Yevgeniy Brikman</p>
  <p class="justify thin mt0">
    There are many guides out there on how to write software. This book is a guide to <strong>software
    delivery</strong>: that is, all the processes, tools, and techniques that are required to run and maintain software
    in production on an ongoing basis. In particular, this book is a guide to <strong>DevOps</strong>,
    a methodology for making software delivery more efficient.
  </p>
  <p class="justify thin">
    Whereas most books and talks on DevOps focus on culture, values, and organizational structure, I've found
    that when most people talk about DevOps, what they are really interested in is the mechanics of effective software
    delivery. That's what this book is all about. It's a <strong>hands-on guide</strong> that includes
    dozens of step-by-step examples of how to run production systems. You’ll start with the basics—an app running
    on a single server—and work your way up to microservices in a Kubernetes cluster with a service mesh,
    automated deployment pipeline, end-to-end encryption, and more.
  </p>
  <p class="justify thin">
    By the time you’re done with the book, you will have had hands-on practice with all the core
    concepts and best practices of modern DevOps and software delivery.
  </p>
  <p class="mt3">
    {% include buy-now.html id="intro-section" %}
  </p>
</div>
