<div class="lg-col lg-col-6 lg-col-right p3 py4">
  <a href="{{ site.url }}" class="book-container">
    <div class="book">
      <picture>
        <source media="(min-width: 64em)" srcset="{% include image-url.html path="fundamentals-of-devops-cover-2d-color-website-home.png" %}">
        {% include image.html path="fundamentals-of-devops-cover-2d-color-website-home-small.png" alt="Fundamentals of DevOps and Software Delivery" %}
      </picture>
    </div>
  </a>
</div>
<div class="lg-col lg-col-6 lg-col-right p3">
  <h1 class="mt0 mb0">Fundamentals of DevOps and Software Delivery</h1>
  <p class="mt0 medium-gray">By {{ site.author }}</p>
  <p class="justify thin mt0">
    While most books about DevOps focus only on high-level theory and culture, this practical, hands-on guide
    focuses on the actual tools, practices, and technologies that constitute software delivery. Yevgeniy
    (Jim) Brikman (author of <em>Terraform: Up & Running</em>) shows you how to run and maintain software in production
    through dozens of step-by-step examples:
  </p>
  <ul class="thin list-style-none pl0">
    <li><b>Apps</b>: VMs (EC2), containers (Kubernetes), serverless (Lambda)</li>
    <li><b>Infrastructure</b>: Terraform/OpenTofu, Packer, Docker, Ansible</li>
    <li><b>CI/CD</b>: pipelines, automated testing, release automation</li>
    <li><b>Networking</b>: VPCs, VPNs, DNS, service meshes</li>
    <li><b>Architecture</b>: environments, libraries, microservices</li>
    <li><b>Security</b>: secrets management, encryption (TLS, AES)</li>
    <li><b>Data</b>: relational DBs, NoSQL DBs, file stores, CDNs</li>
    <li><b>Monitoring</b>: metrics, logs, events, alerts</li>
  </ul>
  <p class="justify thin">
    By the time you’re done with the book, you will have had hands-on practice with all the essential skills required
    by every DevOps, SRE, and full stack developer job.
  </p>
  <p class="mt3">
    {% include buy-now.html id="intro-section" %}
  </p>
</div>
