<section class="pt2 py4 clearfix bg-gray-color border-bottom border-gray">
  <div class="max-width-4 mx-auto">
    <div class="lg-col lg-col-6 p3">
      <a href="{{ site.url }}">
        {% include image.html path="book-3d-cover-no-shadow-medium.png" alt="Fundamentals of DevOps and Software Delivery" %}
      </a>
    </div>
    <div class="lg-col lg-col-6 p3">
      <h1 class="mt0 mb0">Fundamentals of DevOps and Software Delivery</h1>
      <p class="mt0 medium-gray">By Yevgeniy Brikman</p>
      <p class="justify thin mt0">
        There are many guides out there on how to write software. This book is a guide to software
        delivery: that is, all the processes, tools, and techniques that are required to run software in
        production and maintain it on an ongoing basis, so it can generate value for your customers and for your
        company. In particular, this book is a guide to DevOps, one of the methodologies used today to
        make software delivery vastly more efficient.
      </p>
      <p class="justify thin">
        Whereas most DevOps content tends to focus primarily on culture and theory, this book is a hands-on guide
        that includes dozens of examples that walk you, step-by-step, through how to run real systems and real code.
        You’ll start with the basics—running a single server—and work all the way up to Kubernetes clusters, automated
        deployment pipelines, distributed data systems, and more.
      </p>
      <p class="justify thin">
        By the time you’re done with the book, you will have had hands-on practice with all the core
        concepts and best practices of modern DevOps and software delivery.
      </p>
      <p class="mt3">
        {% include buy-now.html id="intro-section" %}
      </p>
    </div>
  </div>
</section>