<h2 id="learning-resources-tools" class="mt0 mb2">Learning resources and tools</h2>
<p class="mt2 thin">
  Learning resources (books, talks, articles, courses) and tools related to each chapter of the book:
</p>
<table>
{% for chapter in site.data.outline %}
  {% unless chapter.skip_chapter_heading %}
    <tr>
      <td class="thin light-gray pr2">Chapter {{ forloop.index }}:</td>
      <td class="thin">
        <a href="{% include chapter-url.html chapter_index=forloop.index chapter_title=chapter.title %}">
          {{ chapter.title }}
        </a>
      </td>
    </tr>
  {% endunless %}
{% endfor %}
</table>