<h2 id="outline" class="my0">About the book</h2>
<p class="mt2 thin">
  This book is for <strong>individual contributors in operations</strong> (e.g., current and aspiring Site
  Reliability Engineers, DevOps Engineers, Sysadmins, Operations Engineers, and Release Engineers) who want to level
  up their knowledge of software delivery, <strong>individual contributors in dev</strong> (e.g., Software Engineers,
  Software Developers, Web Developers, and Full Stack Engineers) who want to learn more about the operations side of
  the house, and <strong>managers in engineering</strong> (e.g., Engineering Managers, Engineering Directors, CTOs,
  VPEs, and CIOs) who want to learn how to adopt DevOps and software delivery best practices in their organizations.
</p>
<div class="clearfix clear-2">
  {% for chapter in site.data.outline %}
    <div class="md-col md-col-6 px2 mb3 center">
      <div style="height: 295px">
        <a href="{% include chapter-url.html chapter_index=forloop.index chapter_title=chapter.title %}" class="fa-stack fa-3x book-blue">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-{{ chapter.icon }} fa-stack-1x fa-inverse"></i>
        </a>
        <h3 class="left-align">
          <div class="h5 light-gray thin">
            <a href="{% include chapter-url.html chapter_index=forloop.index chapter_title=chapter.title %}" class="light-gray">
              {% if chapter.skip_chapter_heading %}&nbsp;{% else %}Chapter {{ forloop.index }}{% endif %}
            </a>
          </div>
          <div style="height: 50px">
            {% if chapter.skip_chapter_heading %}
              {{ chapter.title }}
            {% else %}
              <a href="{% include chapter-url.html chapter_index=forloop.index chapter_title=chapter.title %}" class="black">
                {{ chapter.title }}
              </a>
            {% endif %}
          </div>
        </h3>
        {% if chapter.summary %}
          <p class="light-gray thin left-align" style="height: 50px;">
            {{ chapter.summary }}
          </p>
        {% endif %}
        {% if chapter.key_ideas or chapter.examples %}
          <dl class="light-gray thin left-align">
            {% if chapter.key_ideas %}
              <dd class="ml1">
                <ul class="mt0 pl2">
                  {% for item in chapter.key_ideas %}
                    <li>{{ item }}</li>
                  {% endfor %}
                </ul>
              </dd>
            {% endif %}
          </dl>
        {% endif %}
      </div>
      {% unless chapter.skip_chapter_heading %}
        <p class="light-gray thin left-align">
          <a href="{% include chapter-url.html chapter_index=forloop.index chapter_title=chapter.title %}">
            Learn more &#187;
          </a>
        </p>
      {% endunless %}
    </div>
  {% endfor %}
</div>
