{% assign url_first_char = include.url | slice:0 %}
{% assign target = "_blank" %}
{% if url_first_char == "#" %}{% assign target = "_self" %}{% endif %}
<div class="clearfix mxn2 mt4 mb4">
  <div class="sm-col sm-col-4 mb2 px2">
    <a href="{{ include.url }}" target="{{ target }}" class="tracked" data-trk="click-{{ include.type }}-{{ include.id }}">
      {% include image.html path=include.image alt=include.title loading="lazy" %}
    </a>
  </div>
  <div class="sm-col sm-col-8 thin px2">
    <h3 class="mt0 mb0"><a href="{{ include.url }}" target="{{ target }}" class="black tracked" data-trk="click-{{ include.type }}-{{ include.id }}">{{ include.title }}</a></h3>
    {% if include.include_metadata %}
      {% include date-length.html content=include.content date=include.date %}
    {% endif %}
    <p class="mt1">
      {{ include.description }}
    </p>
    {% if include.call_to_action %}
      <p>
        <a href="{{ include.url }}" target="{{ target }}" class="tracked" data-trk="click-{{ include.type }}-{{ include.id }}">{{ include.call_to_action }} &raquo;</a>
      </p>
    {% endif %}
  </div>
</div>