<div class="clearfix thin light-gray">
  <div class="left mr2">
    <a href="https://www.ybrikman.com" target="_blank">
      {% include image.html path="yevgeniy-brikman-small.jpg" alt="Yevgeniy Brikman" class="circle" %}
    </a>
  </div>
  <div class="overflow-hidden align-middle">
    <div>
      <a href="https://www.ybrikman.com" target="_blank">Yevgeniy Brikman</a>
      ·
      {% include date-length.html content=include.content date=include.date %}
    </div>
    <div>
      <a href="{{ site.url }}">Fundamentals of DevOps and Software Delivery</a>
    </div>
  </div>
</div>


