<section class="mt4 mb4 p2 pb6 clearfix" id="resource">
  <div class="max-width-3 mx-auto">
    <h2 class="mb0">Resources</h2>
    <p class="mt2 thin">
      Blog posts, appendices, and other useful information related to the book.
    </p>
    {% for resource in site.data.resources %}
      {% include resource.html type="resource" id=resource.id url=resource.url title=resource.title description=resource.description image=resource.image date=resource.date call_to_action=resource.call_to_action %}
    {% endfor %}
  </div>
</section>