{% capture image_path %}{% if page.thumbnail_path %}{{ page.thumbnail_path }}{% else %}{{ site.thumbnail_path }}{% endif %}{% endcapture %}
{% capture image_url %}{% include image-url.html path=image_path absolute=true %}{% endcapture %}
{% capture description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ page.description | default: site.description }}{% endif %}{% endcapture %}
{% assign page_title = page.title | default: site.name %}
{% if page.layout == "resource" or page.layout == "chapter" or page.url contains "/faq/" %}
  {% assign og_type = "article" %}
{% else %}
  {% assign og_type = "website" %}
{% endif %}
{% assign modified_time = page.last_modified_at | default: page.date %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{ site.contact_urls.twitter.username }}" />
<meta name="twitter:title" content="{{ page_title }}" />
<meta name="twitter:url" content="{% include canonical-url.html %}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ image_url }}" />

<meta property="og:type" content="{{ og_type }}"/>
<meta property="og:title" content="{{ page_title }}"/>
<meta property="og:url" content="{% include canonical-url.html %}"/>
<meta property="og:site_name" content="{{ site.name }}"/>
{% if og_type == "article" %}
<meta property="article:author" content="{{ site.contact_urls.facebook.url }}"/>
{% endif %}
<meta property="og:description" content="{{ description }}"/>
<meta property="og:image" content="{{ image_url }}"/>
{% if modified_time %}
  {% if og_type == "article" %}
<meta property="article:modified_time" content="{{ modified_time | date_to_xmlschema }}"/>
  {% else %}
<meta property="og:updated_time" content="{{ modified_time | date_to_xmlschema }}"/>
  {% endif %}
{% endif %}
