<div class="border p2 mt1" style="height: 450px; overflow-y: scroll; overflow-x: hidden">
  <div class="right-align">
    <h3 class="mb3 mt0">Table of Contents</h3>
  </div>
  <table>
    <tbody>
      {% for item in site.data.toc %}
        <tr>
          {% if item.chapter %}
            <td class="h5 bold">{{ item.chapter }}</td>
          {% elsif item.section %}
            <td class="h5 pl1">
              {% assign substr = item.section | slice: 0, 7 %}
              <span class="truncate{% if substr == "Example" %} bg-yellow{% endif %}" style="width: 330px">
                {{ item.section }}
              </span>
            </td>
          {% elsif item.subsection %}
            {% assign substr = item.subsection | slice: 0, 7 %}
            <td class="h6 pl2">
              <span class="truncate{% if substr == "Example" %} bg-yellow{% endif %}" style="width: 320px">
                {{ item.subsection }}
              </span>
            </td>
          {% endif %}
          <td class="h6">{{ item.page }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<p class="thin h6 mt1">A snippet of the table of contents highlighting a few of the hands-on examples in the book. Try scrolling down to see more!</p>
