---
layout: default
title: "DevOps and Software Delivery Blog Posts"
description: "Blog posts, appendices, and other useful information related to the book 'Fundamentals of DevOps and Software Delivery.'"
last_modified_at: 2026-03-12
---

<section class="py4 px2 clearfix border-bottom border-gray bg-gray-color">
  <div class="max-width-4 mx-auto">
    <div class="lg-col lg-col-5 lg-col-right p3 py4">
      <a href="{{ site.url }}" class="book-container">
        <div class="book">
          <picture>
            <source media="(min-width: 64em)" srcset="{% include image-url.html path="fundamentals-of-devops-cover-2d-color-website-home.png" %}">
            {% include image.html path="fundamentals-of-devops-cover-2d-color-website-home-small.png" alt="Fundamentals of DevOps and Software Delivery" %}
          </picture>
        </div>
      </a>
    </div>
    <div class="lg-col lg-col-7 lg-col-right p3">
      <h1 class="mt0 mb0">{{ page.title }}</h1>
      <p class="thin">
        Blog posts, appendices, and other useful information related to the book
        <em><a href="{{ site.url }}">Fundamentals of DevOps and Software Delivery</a></em>.
      </p>
      {% include blog-list.html %}
    </div>
  </div>
</section>

{% include foot.html %}
