---
layout: default
title: "Fundamentals of DevOps and Software Delivery Resources"
---

<section class="py4 clearfix border-bottom border-gray bg-gray-color">
  <div class="max-width-4 mx-auto">
    <div class="lg-col lg-col-5 lg-col-right p3 py4">
      <a href="{{ site.url }}" class="book-container">
        <div class="book">
          <picture>
            <source media="(min-width: 64em)" srcset="{% include image-url.html path="fundamentals-of-devops-cover-2d-color-website-home.png" %}">
            {% include image.html path="fundamentals-of-devops-cover-2d-color-website-home-small.png" alt="Fundamentals of DevOps and Software Delivery" %}
          </picture>
        </div>
      </a>
    </div>
    <div class="lg-col lg-col-7 lg-col-right p3">
      <h1 class="mt0 mb0">Fundamentals of DevOps and Software Delivery Resources</h1>
      <p class="justify thin mt2">
        This page lists useful resources related to each chapter of the book
        <em><a href="{{ site.url }}">Fundamentals of DevOps and Software Delivery</a></em> by Yevgeniy Brikman:
      </p>
      <table class="thin">
        {% for chapter in site.data.outline %}
          {% unless chapter.skip_chapter_heading %}
            <tr>
              <td class="pr1 pb0 mb0 light-gray">Chapter {{ forloop.index }}:</td>
              <td><a href="/chapters/chapter-{% include pad-with-zero.html text=forloop.index %}">{{ chapter.title }}</a></td>
            </tr>
          {% endunless %}
        {% endfor %}
      </table>
    </div>
  </div>
</section>


{% include foot.html %}

