.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 900px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(-11deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

.book {
  width: 300px;
  height: 377px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book-container:hover .book,
.book-container:focus .book {
  transform: rotateY(-11deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 300px;
  height: 377px;
  transform: translateZ(27.5px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 2px;
  width: 53px;
  height: 373px;
  transform: translateX(270.5px) rotateY(90deg);
  background: linear-gradient(90deg,
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 300px;
  height: 377px;
  transform: translateZ(-27.5px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #666;
}

@media (min-width: 64em) {
  .book-container {
    perspective: 1300px;
  }

  .book {
    width: 460px;
    height: 578px;
  }

  .book > :first-child {
    width: 460px;
    height: 578px;
    transform: translateZ(32.5px);
  }

  .book::before {
    width: 63px;
    height: 574px;
    transform: translateX(425.5px) rotateY(90deg);
  }

  .book::after {
    width: 460px;
    height: 578px;
    transform: translateZ(-32.5px);
  }
}