body {
  font-family: 'Open Sans', sans-serif;
}

h1, .h1 {
  font-size: 2.2rem;
}

h2, .h2 {
  font-size: 2.0rem;
}

.h1-xl {
  font-size: 3.0rem;
}

.resource-content h2 {
  margin-top: 3rem;
}

.anchorjs-link:hover {
  text-decoration: none;
}

.thin {
  font-weight: 100;
}

.no-underline {
  text-decoration: none !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quote {
  font-family: Georgia, serif;
}

.quote-margin {
  margin-left: -10px;
}