<h2 id="different" class="mt0 mb2">他の書籍との違い</h2>
<p class="mt2 mb3 thin">
  Here's what makes this book different from all other books about DevOps:
</p>
<div class="clearfix flex flex-wrap">
  <div class="col-12 lg-col-6 center pr3 mb3">
    <div><i class="fa fa-wrench fa-5x gray" aria-hidden="true"></i></div>
    <h3>Go beyond theory</h3>
    <p class="thin left-align">
      Whereas most books on DevOps focus on culture, values, and organizational structure, I've found that when
      most people talk about DevOps, what they are really interested in is the <b>mechanics of effective software
      delivery</b>. With this book, you get not just the theory, but also a chance to <b>learn all the processes,
      tools, and techniques</b> that are required to run and maintain software in production on an ongoing basis.
    </p>
  </div>
  <div class="col-12 lg-col-6 center pr3 mb3">
    <div><i class="fa fa-puzzle-piece fa-5x gray" aria-hidden="true"></i></div>
    <h3>See how the pieces fit together</h3>
    <p class="thin left-align">
      There are many books out there on individual aspects of software delivery: e.g., books focused entirely on
      Kubernetes or Terraform or CI/CD. This is the only book that shows you <b>how to put all the
      pieces together</b>. You'll start with the basics—an app running on a single server—and work your way up to
      microservices in a Kubernetes cluster with a service mesh, automated deployment pipeline, end-to-end
      encryption, and more.
    </p>
  </div>
  <div class="col-12 lg-col-6 center pr3 mb3">
    <div><i class="fa fa-users fa-5x gray" aria-hidden="true"></i></div>
    <h3>Become a practitioner</h3>
    <p class="thin left-align">
      This is a book <b>for current and aspiring practitioners</b>: for the brave people who are responsible for running
      and maintaining software in production. That includes roles in
      <b>operations</b> (Site Reliability Engineers, DevOps Engineers, Sysadmins, Operations Engineers, Release
      Engineers) and <b>development</b> (Software Engineers, Software Developers, Web Developers, and Full Stack
      Engineers).
    </p>
  </div>
  <div class="col-12 lg-col-6 center pr3 mb3">
    <div><i class="fa fa-code fa-5x gray" aria-hidden="true"></i></div>
    <h3>Get hands-on experience</h3>
    <p class="thin left-align">
      If you really want to learn something, reading is not enough. You also need practice.
      That's why this book includes <b>dozens of hands-on code examples</b> (which you can find in this
      <a href="https://github.com/brikis98/devops-book">GitHub repo</a>). Instead of only reading, you get
      to <b>learn by doing</b>, following the step-by-step instructions to deploy apps, manage infrastructure, configure
      CI/CD pipelines, and more. See the following video for a walkthrough:
    </p>
  </div>
</div>

{% include ja/iframe.html url="https://www.youtube.com/embed/5J88TB0vF0o?si=qBNBYVwoIXbf0c9X" %}
