<h2 id="hands-on" class="mt0 mb2">A hands-on guide</h2>
<div class="justify">
  <p class="mt2 thin">
    This book includes <strong>dozens of hands-on code examples</strong>. Instead of only reading, you get to <em>learn
    by doing</em>, following the step-by-step instructions to deploy apps, manage infrastructure, configure CI/CD
    pipelines, and more:
  </p>
  {% include iframe.html url="https://www.youtube.com/embed/5J88TB0vF0o?si=qBNBYVwoIXbf0c9X" %}
  <p class="mt2 thin">
    You can find the sample code for the book
    <a href="https://github.com/brikis98/devops-book">in this GitHub repo</a>.
  </p>
</div>
