<div class="lg-col lg-col-6 lg-col-right p3 py4">
  <a href="{{ site.url }}/ja" class="book-container">
    <div class="book">
      <picture>
        <source media="(min-width: 64em)" srcset="{% include image-url.html path="fundamentals-of-devops-cover-2d-color-website-home.png" %}">
        {% include ja/image.html path="fundamentals-of-devops-cover-2d-color-website-home-small.png" alt="Fundamentals of DevOps and Software Delivery" %}
      </picture>
    </div>
  </a>
</div>
<div class="lg-col lg-col-6 lg-col-right p3">
  <h1 class="mt0 mb0">DevOpsとソフトウェアデリバリの基礎</h1>
  <p class="mt0 medium-gray">Yevgeniy Brikman著</p>
  <p class="justify thin mt0">
    DevOpsに関する多くの本は抽象度の高い原則や文化に焦点を当てている一方で、この本はソフトウェアデリバリに関する実際のツール、プラクティス、技術に焦点を当てた実践的なハンズオンガイドです。Yevgeniy (Jim) Brikman (『詳解Terraform』の著者) が、多数のステップバイステップのサンプルを通じて本番環境においてソフトウェアを実行し、運用していく方法をお伝えします。サンプルには次の内容が含まれます。
  </p>
  <ul class="thin list-style-none pl0">
    <li><b>Apps</b>: VMs (EC2), コンテナ (Kubernetes), サーバレス (Lambda)</li>
    <li><b>インフラ</b>: Terraform/OpenTofu, Packer, Docker, Ansible</li>
    <li><b>CI/CD</b>: パイプライン, 自動テスト, リリースの自動化</li>
    <li><b>ネットワーク</b>: VPC, VPN, DNS, サービスメッシュ</li>
    <li><b>アーキテクチャ</b>: 環境, ライブラリ, マイクロサービス</li>
    <li><b>セキュリティ</b>: シークレット管理, 暗号化 (TLS, AES)</li>
    <li><b>データ</b>: リレーショナルデータベース, NoSQL, ファイルストレージ, CDN</li>
    <li><b>監視</b>: メトリクス, ログ, イベント, アラート</li>
  </ul>
  <p class="justify thin">
    この本をやり終える時には、あらゆるDevOps、SRE、フルスタック開発の職種で
    求められるすべての基本的スキルについてハンズオン経験を詰んだ状態になります。
  </p>
  <p class="mt3">
    {% include ja/buy-now.html id="intro-section" %}
  </p>
</div>
