<div class="clearfix mxn2 mt4 mb4">
  <div class="sm-col sm-col-4 mb2 px2">
    <a href="{{ include.url }}" target="blank" class="tracked" data-trk="click-praise-quote-{{ include.id }}">
      {% include ja/image.html path=include.image alt=include.author loading="lazy" %}
    </a>
  </div>
  <div class="sm-col sm-col-8 px2">
    <p class="mt0 thin">{{ include.quote | strip }}</p>
    <p class="light-gray thin">
      <a href="{{ include.url }}" target="blank" class="tracked" data-trk="click-praise-quote-{{ include.id }}">{{ include.author | strip }}</a>,
      {{ include.title }}
    </p>
  </div>
</div>