---
layout: default
---

{% assign chapter_index = page.path | replace: 'chapters/chapter-', '' | replace: '/index.html', '' | minus: 1 %}
{% assign chapter = site.data.outline[chapter_index] %}

{% include chapter-intro.html chapter=chapter chapter_index=chapter_index %}

{% assign all_sections = "chapter-overview.html" %}
{% if chapter.books %}
  {% assign all_sections = all_sections | append: ",chapter-books.html" %}
{% endif %}
{% if chapter.other_resources %}
  {% assign all_sections = all_sections | append: ",chapter-other-resources.html" %}
{% endif %}

{% assign all_sections = all_sections | split: "," %}

{% if chapter.tools %}
  {% assign tools_start_index = all_sections | size %}
  {% assign all_sections = all_sections | concat: chapter.tools %}
{% endif %}

{% for section in all_sections %}
  <section class="py4 px2 clearfix border-bottom border-gray {% cycle '', 'bg-gray-color' %}">
    <div class="max-width-3 mx-auto">
      {% if forloop.index0 >= tools_start_index %}
        {% include chapter-tools.html tool_type=section chapter=chapter chapter_index=chapter_index %}
      {% else %}
        {% include {{ section }} chapter=chapter chapter_index=chapter_index %}
      {% endif %}

      {% if forloop.last %}
        <div class="mt0 mb0 light-gray thin center">
          {% include chapter-pagination.html chapter_index=chapter_index %}
        </div>
      {% endif %}
    </div>
  </section>
{% endfor %}

{% include foot.html %}

