---
layout: default
---

<section class="my4 p2 max-width-3 mx-auto">
  <div class="max-width-3 mx-auto pb2">
    <h1 class="mt0 h1-xl">{{ page.title }}</h1>
    {% include resource-metadata.html content=page.content date=page.date %}
  </div>

  <p class="mx-auto center py4">
    {% include image.html path=page.image alt=page.title %}
  </p>

  <div class="resource-content">
    {{ content }}
  </div>

  <div class="max-width-3 mx-auto mt4 pb2">
    <hr>
    {% include resource-metadata.html date=page.date %}
    <hr class="mt2">
  </div>
</section>

{% include foot.html %}

<script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function(event) {
    anchors.add();
  });
</script>