---
layout: default
include_comments: true
---

<section class="my4 p2 max-width-3 mx-auto">
  <div class="max-width-3 mx-auto pb2">
    <h1 class="mt0 h1-xl">{{ page.title }}</h1>
    {% include resource-metadata.html content=page.content date=page.date id=page.id include_comment_count=true %}
  </div>

  <p class="mx-auto center py4">
    {% include image.html path=page.thumbnail_path alt=page.title %}
  </p>

  <div class="resource-content">
    {{ content }}
  </div>

  <div class="max-width-3 mx-auto mt4 pb2">
    <hr>
    {% include resource-metadata.html date=page.date %}
    <hr class="mt2">
  </div>
</section>

{% include comments.html %}

{% include foot.html %}

